body, html, #root {
  background-color: #000000;
  color: #ffffff;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}